<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:15px ;">

            <div class="col-md-6 offset-md-3" style="background-color: chocolate;">
                <mat-card style="background-color:bisque;">
                    <mat-card-content>
                        <div class="container text-center" style="margin-top:60px">
                            <img src="./../../../assets/register.png" alt="Register image" width="20%" height="60%">
                        </div>
                        <h1 class="text-center">Login here!</h1>
                        <form (ngSubmit)="onSubmit()" method="post">

                            <mat-form-field class="full-width">
                                <mat-label>ADMINUSERNAME</mat-label>
                                <input [(ngModel)]="user.userName" matInput placeholder="username" id="userName"
                                    name="userName" />
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>ADMINPASSWORD</mat-label>
                                <input matInput id="password" name="password" [(ngModel)]="user.password"
                                    placeholder="Ex. Pranit19">
                            </mat-form-field>


                            <div class="text-center">
                            <button mat-raised-button color="warn">AdminLogin</button>
                            </div>

                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>