<div class="bootstrap-wrapper">
  <div style="position: absolute;right: 20px;">
    <form (ngSubmit)="logOut()"> <button mat-raised-button color="warn" type="submit"  >LogOut</button></form>
   
  </div>
  <div style="position: relative;top: 140px;" class="container">
    <div class="row " style="margin-top:50px ;">
      <div  class="col-md-6 offset-md-3" style="background-color: chocolate;">
        <mat-card style="background-color:bisque;">
          <mat-card-content>
            <h1 class="text-center">Choose Your Candidate</h1>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()" method="post">
              <div class="space-margin">
              <label >
                <input  type="radio" formControlName="season" value="Modi"> Modi
              </label>
            </div>
              <div class="space-margin">
              <label>
                <input type="radio" formControlName="season" value="Sharad Pawar"> Sharad Pawar
              </label>
              </div>
              <div class="space-margin">
              <label>
                <input type="radio" formControlName="season" value="Uddhhav"> Uddhhav
              </label>
              </div>
              
              <div class="space-margin">
              <button mat-raised-button color="primary" type="submit" [disabled]="myForm.invalid"
                >Vote</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>