<app-navbar></app-navbar>
<div class="bootstrap-wrapper " style="overflow: hidden;">

    <div class="row  ">
        <div class="col-lg-6 ">
            <div class="row height30"></div>
            <div class="row ">
                <div class="col-md-1"></div>
                <div class="col-md-8 ml20">
                    <div class="row">
                        <p class="text-style">Online Voting</p>
                    </div>
                    <div class="row mt20">
                        <p>
                            Your Vote, Your Voice!. 
                            Vote for a Better Tomorrow.
                            Vote Wisely, Choose Wisely.
                            Ink Your Index, Empower Your Future.
                            Your Vote Counts.
                        </p>
                    </div>
                    <div class="row mt20">
                        <button class="btn-size" [routerLink]="'/login'" mat-raised-button
                            color="primary">Login</button>

                        <button class="btn-size ml10" [routerLink]="'/register'" mat-raised-button
                            color="accent">Register</button>
                    </div>


                </div>
                <div class="col-md-3"></div>


            </div>

        </div>

        <div class="col-lg-6">

            <div class="row"><img class="svg" src="./../../../assets/Voting1.png" alt="Election Image"></div>


        </div>




    </div>
</div>