<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:15px ;">
            <div class="col-md-6 offset-md-3" style="background-color: chocolate;">
                <mat-card style="background-color:bisque;">
                    <mat-card-content>
                        <div class="container text-center" style="margin-top:60px">
                            <img src="./../../../assets/register.png" alt="Register image" width="20%" height="60%">
                        </div>
                        <h1 class="text-center">Register here!</h1>
                        <form (ngSubmit)="onSubmit()" action="/submit-myForm" method="post">

                            <mat-form-field class="full-width">
                                <mat-label>USERNAME</mat-label>
                                <input matInput placeholder="username" id="userName" name="userName"
                                    [(ngModel)]="user.userName" />
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>PASSWORD</mat-label>
                                <input matInput id="password" name="password" [(ngModel)]="user.password"
                                    placeholder="Ex. Pranit19">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Email</mat-label>
                                <input matInput id="email" name="email" [(ngModel)]="user.email"
                                    placeholder="Ex. pranit@19@gmail.com">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>PHONE NO</mat-label>
                                <input matInput id="phoneNumber" name="phoneNumber" [(ngModel)]="user.phoneNumber"
                                    placeholder="Ex.Mumbai">
                            </mat-form-field>


                            <div class="text-center">
                            <button mat-raised-button color="primary" type="submit" >Register</button>
                            
                            <button mat-raised-button color="warn" routerLink="/login">LogIn</button>
                        </div>

                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>